@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.sidemenu {
	width: 100%;
	background-color: var(--white);
	box-shadow: var(--base-box-shadow);
	border-radius: var(--main-border-radius);
	padding: 12px 24px;

	&__title {
		position: relative;
		display: block;
		font-weight: 500;
		font-size: 20px;
		padding-bottom: 12px;
		color: var(--primary);

		&::before {
			position: absolute;
			bottom: 0;
			left: -24px;
			width: 70%;
			height: 1px;
			content: "";
			background-color: var(--primary);
		}
	}

	ul {
		width: 100%;
		@extend %list-reset;
		@extend %flex-column;

		a {
			font-weight: 500;
			color: var(--dark);
			&.selected {
				opacity: 0.6;
			}
		}

		ul {
			display: none;
			padding-top: 12px;
			padding-left: 8px;

			li {
				padding: 2px 0;

				&:not(:last-child) {
					margin-bottom: 8px;
				}

				a {
					position: relative;
					padding-left: 12px;
					font-size: 15px;

					// &::before {
					// 	position: absolute;
					// 	top: 11px;
					// 	left: 0;
					// 	transform: translateY(-50%);
					// 	background-color: var(--dark);
					// 	content: "";
					// 	width: 8px;
					// 	height: 2px;
					// }
				}
			}
		}

		li.expanded > .sidemenu__opener {
			transform: rotate(0);
		}

		li.expanded > ul {
			display: flex;
		}

		li {
			&:has(.sidemenu__opener) {
				@extend %flex-wrap;
				justify-content: space-between;
				gap: 0 16px;

				& > a {
					max-width: calc(100% - 40px);
				}
			}
		}
	}

	& > ul > li {
		padding: 12px 0;
		&:not(:last-child) {
			border-bottom: 1px solid var(--lighter);
		}
		// border-radius: 20px;
		// margin-bottom: 12px;

		& > a {
			color: var(--primary);
		}
	}

	&__opener {
		@extend %btn-reset;
		width: 24px;
		height: 24px;

		transform: rotate(180deg);
		transition: transform var(--main-transition);
		svg {
			width: 16px;
			height: 16px;
			fill: var(--dark);
			transform: rotate(-90deg);
			transition: transform var(--main-transition);
			pointer-events: none;
		}
	}
}
