section.base-section.features
  .container
    h2.base-title Почему выбирают нас

    ul.features__list
      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Гарантия качества и&nbsp;соблюдения сроков
          p.base-text Мы обеспечиваем гарантию качества выполненных переводов и строго соблюдаем сроки, чтобы вы могли быть уверены в надежности нашей работы.

      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Умеренные цены и&nbsp;удобная форма оплаты
          p.base-text Наши цены умеренны и доступны для всех клиентов, а удобная форма оплаты позволяет вам выбрать наиболее удобный способ оплаты услуг.
      
      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Конфиденциальность информации
          p.base-text Мы гарантируем полную конфиденциальность вашей информации и обеспечиваем защиту всех переданных нам данных.
      
      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Переводим на все языки мира
          p.base-text Наша команда переводчиков способна перевести тексты на любой язык мира, чтобы вы могли расширить свою аудиторию и работать с клиентами из разных стран.

      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Бесплатный тестовый перевод и базовая вёрстка
          p.base-text Мы предлагаем бесплатный тестовый перевод и базовую вёрстку текста, чтобы вы могли оценить качество наших услуг перед совершением заказа.

      li
        .feature-card
          .feature-card__icon
            img(src="./assets/img/feature-icon.svg" alt="Преимущество" width="40" height="40")
          span.base-subtitle Доставка документов в любую точку мира
          p.base-text Мы предоставляем услугу доставки документов в любую точку мира, чтобы вы могли получить готовые переводы в удобное для вас время и месте.