include ../../components/_ui/sliders/infinity-slider/infinity-slider

section.section.section--decorated.clients-preview 
  .container
    h2.base-title.base-title--lightColor Наши клиенты
  .container-fluid
    +infinity-slider([
      {
        img: 'client-1.svg'
      },
      {
        img: 'client-2.svg'
      },
      {
        img: 'client-3.svg'
      },
      {
        img: 'client-4.svg'
      },
      {
        img: 'client-5.svg'
      },
      {
        img: 'client-6.svg'
      },
      {
        img: 'client-1.svg'
      },
      {
        img: 'client-2.svg'
      },
      {
        img: 'client-3.svg'
      },
      {
        img: 'client-4.svg'
      },
      {
        img: 'client-5.svg'
      },
      {
        img: 'client-6.svg'
      },
    ])

      