section.section.section--underlined.info-grid-section
  .container
    h2.base-title Как мы работаем
    ul
      li
        strong Оформление заявки
        span Чтобы сделать заказ позвоните по телефону,напишите нам в мессенджеры или оформите заявку на сайте.
      li
        strong Расчет стоимости
        span Менеджер посчитает стоимость заказа и озвучит вам.
      li
        strong Оплата и подготовка документа
        span Специалист приступает к работе сразу после получения предоплаты.
      li
        strong Получение готового документа
        span Вы получаете готовый документ точно в срок.

section.section.section--underlined.info-grid-section
  .container
    h2.base-title Способы оплаты
    ul
      li
        strong Наличными в офисе:
        span Оплатите услугу прямо при посещении нашего офиса.
      li
        strong Банковской картой
        span Мы принимаем карты любых банков для вашего удобства.
      li
        strong Через терминал
        span Удобные терминалы оплаты доступны в нашем офисе.
      li
        strong Онлайн-оплата
        span Быстрый и безопасный способ оплатить услуги через интернет.

section.section.section--underlined.info-grid-section.bg-mountains
  .container
    h2.base-title Способы доставки
    ul
      li
        strong Доставка курьером в пределах города Москвы
        span Ваши документы доставят вам прямо на дом в указанное Вами время
      li
        strong Доставка в другие города
        span Документы доставят Вам почтой в пункт выдачи

