<nav class="main-nav">
  <div class="main-nav__wrapper">
    <div class="main-nav__header">
      <a class="main-logo" href="/" aria-label="Юстиком. Коллегия адвокатов"><img src="./assets/img/logo.svg" alt="Лого" width="150" height="50"></a>
      <button class="main-nav-closer">
        svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
          use(xlink:href='./__spritemap#sprite-close')
      </button>
    </div>

    <ul class="main-nav__list">
      <li class="main-nav__list-item">
        <a href="#">
          <span>Услуги</span>
          <svg tabindex="0" class="main-nav-item-expander" width="24" height="24">
            <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
          </svg>
        </a>
        <div class="top-multilevel-menu">
          <ul class="top-multilevel-menu__list">
            <li class="top-multilevel-menu__list-item">
              <a href="#">
                <span>Консульская легализация</span>
                <svg tabindex="0" class="main-nav-item-expander" width="24" height="24">
                  <use xlink:href="./__spritemap__4886fdff#sprite-arrow-right"></use>
                </svg>
              </a>
              <div class="top-multilevel-menu__side">
                <ul class="top-multilevel-menu__inner-list">
                  <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Консульская легализация услуга</span></a></li>
                </ul>
              </div>
            </li>
            <li class="top-multilevel-menu__list-item">
              <a href="#">
                <span>Апостиль</span>
                <svg tabindex="0" class="main-nav-item-expander" width="24" height="24">
                  <use xlink:href="./__spritemap__4886fdff#sprite-arrow-right"></use>
                </svg>
              </a>
              <div class="top-multilevel-menu__side">
                <ul class="top-multilevel-menu__inner-list">
                  <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Апостиль услуга</span></a></li>
                </ul>
              </div>
            </li>
            
            <li class="top-multilevel-menu__list-item">
              <a href="#">
                <span>Переводы</span>
                <svg tabindex="0" class="main-nav-item-expander" width="24" height="24">
                  <use xlink:href="./__spritemap__4886fdff#sprite-arrow-right"></use>
                </svg>
              </a>
              <div class="top-multilevel-menu__side">
                <ul class="top-multilevel-menu__section-list">
                  <li class="top-multilevel-menu__section-list-item">
                    <a href="#"><span>Перевод документов</span></a>
                    <div class="top-multilevel-menu__inner-list-wrapper">
                      <ul class="top-multilevel-menu__inner-list">
                        <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Перевод паспорта</span></a></li>
                        <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Перевод свидетельства о рождении</span></a></li>
                    </div>
                  </li>
                  <li class="top-multilevel-menu__section-list-item">
                    <a href="#"><span>Перевод с различных языков мира</span></a>
                  </li>
                  <li class="top-multilevel-menu__section-list-item">
                    <a href="#"><span>Юридический перевод</span></a>
                    <div class="top-multilevel-menu__inner-list-wrapper">
                      <ul class="top-multilevel-menu__inner-list">
                        <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Перевод документов компании</span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="top-multilevel-menu__list-item">
              <a href="#">
                <span>Технический перевод</span>
              </a>
              <div class="top-multilevel-menu__side"></div>
            </li>
            <li class="top-multilevel-menu__list-item">
              <a href="#">
                <span>Медицинский перевод</span>
              </a>
              <div class="top-multilevel-menu__side"></div>
            </li>
          </ul>
        </div>
      </li>
      <li class="main-nav__list-item"><a href="#"><span>Практика</span></a></li>
      <li class="main-nav__list-item"><a href="#"><span>Команда</span></a></li>
      <li class="main-nav__list-item has-inner">
        <a href="#">
          <span>СМИ</span>
          <svg tabindex="0" class="main-nav-item-expander" width="24" height="24">
            <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
          </svg>
        </a>
        <div class="main-nav__inner-list-wrapper">
          <ul class="main-nav__inner-list">
            <li class="main-nav__inner-list-item">
              <a href="#"><span>Новости</span></a>
            </li>
            <li class="main-nav__inner-list-item">
              <a href="#"><span>События</span></a>
            </li>
            <li class="main-nav__inner-list-item">
              <a href="#"><span>Мероприятия</span></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="main-nav__list-item"><a href="#"><span>Цены</span></a></li>
      <li class="main-nav__list-item"><a href="#"><span>Контакты</span></a></li>
    </ul>

    <div class="main-nav__footer">
      <div class="social main-nav__social">
        <ul class="social__list">
          <li class="social__list-item">
            <a href="#" rel="nofollow norefferer noopener" target="_blank" aria-label="Telegram">
              <img src="./assets/img/social-tg.svg" alt="Telegram" width="40" height="40">
            </a>
          </li>
          <li class="social__list-item">
            <a href="#" rel="nofollow norefferer noopener" target="_blank" aria-label="Whatsapp">
              <img src="./assets/img/social-whatsapp.svg" alt="Whatsapp" width="40" height="40">
            </a>
          </li>
        </ul>
      </div>

      <div class="main-nav__contacts">
        <a href="#">+7 (999) 999-99-99</a>
      </div>
    </div>
  </div>
</nav>




