include ../../_ui/tabs/tabs

.contact-block
  +tabs({
    title: "Наши контакты",
    switchers: [
      { title: 'Офис на марксистской'},
      { title: 'Офис на Китай-городе'},
    ],
    contentBlocks: [
      {
        html: `
          <div class="contact-block-field">
            <img src="../assets/img/contact1.png" alt="Офис на марксистской" width="540" height="240"/>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Адрес офиса:</span>
              <span class="base-text">г.Москва, ул.Марксистская, д.10с1, 3й эт., оф.306</span>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">График работы:</span>
              <span class="base-text">Пн-Пт: с 10:00 до 19:00 (без перерыва)</span>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Телефон:</span>
              <a href="tel:+74959285366" class="base-text">+7 (495) 928-53-66</a>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Почта:</span>
              <a href="mailto:info@buroimpression.ru" class="base-text">info@buroimpression.ru</a>
            </div>
          </div>
        `
      },
      {
        html: `
          <div class="contact-block-field">
            <img src="../assets/img/contact2.png" alt="Офис на Китай-городе" width="540" height="240"/>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Адрес офиса:</span>
              <span class="base-text" >г. Москва, Петроверигский переулок, дом № 3, строение 1, в помещении нотариальной конторы Радченко И.В.</span>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">График работы:</span>
              <span class="base-text">Пн-Чт: с 10:00 до 18:00</span>
              <span class="base-text">Пт: с 10:00 до 17:00 (без перерыва)</span>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Телефон:</span>
              <a href="tel:+74997072130" class="base-text">+7 (499) 707-21-30</a>
              <a href="tel:+79197274334" class="base-text">+7 (919) 727-43-34</a>
            </div>
            <div class="contact-block-field-section">
              <span class="base-subtitle">Почта:</span>
              <a href="mailto:info@buroimpression.ru" class="base-text">zakaz@cldoc.ru</a>
            </div>
          </div>
        `
      },
    ]
  })