@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";

.catalog-top {

  &__list {
    @extend %list-reset;
    margin: 40px 0;

    &--simple {
      @extend %flex-wrap; 
      gap: 0;

      li {
        width: fit-content;
        margin-left: -10px;
  
        a {
          position: relative;
          @extend %flex-align;
          gap: 6px;
          font-size: 16px;
          padding: 5px 10px;
          font-style: italic;
          font-weight: 500;
          color: var(--dark);
  
          @extend %hover-opacity; 
  
          &::before {
            position: relative;
            left: 0;
            top: 0;
            content: '';
            width: 24px;
            min-width: 24px;
            height: 24px;
            background-image: url("@img/logo-small.svg");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}