include ../../components/_ui/main-btn/main-btn

section.section.catalog-top
  .container
    h2.base-title Популярные услуги 
    
    ul.catalog-top__list.catalog-top__list--simple
      li
        a(href="") Юридический перевод
      li
        a(href="") Консульская легализация для ОАЭ
      li
        a(href="") Консульская легализация справки о судимости
      li
        a(href="") Консульская легализация паспорта
      li
        a(href="") Консульская легализация документов из ЗАГСа

    +main-btn({
      href: "#",
      text: 'Смотреть все',
    })

      