@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.top-multilevel-menu {
  & > a {
    position: relative;
    @extend %flex-align;
    gap: 6px;
    background-color: var(--primary);
    height: 44px;
    padding: 10px 54px;
    border-radius: 30px;
    border: 2px solid var(--primary);

    @extend %hover-opacity;

    span {
      font-weight: 500;
      font-size: 16px;
      color: var(--secondary);
    }

    &::before {
      position: absolute;
      top: calc(50%);
      left: 16px;
      transform: translateY(calc(-50% - 3px));
      width: 24px;
      height: 2px;
      content: '';
      background-color: var(--secondary);
    }

    &::after {
      position: absolute;
      top: calc(50%);
      left: 16px;
      transform: translateY(calc(-50% + 3px));
      width: 18px;
      height: 2px;
      content: '';
      background-color: var(--secondary);
    }
  }
}