table
  thead
    tr
      td Язык перевода
      td(align="center" colspan="2") Стоимость перевода, &#8381;
  tbody
    tr
      td Английский, немецкий языки 
      td от 1000 / (срочно) от 1500
      td от 1500 / (срочно) от 1900
    
    tr
      td Испанский, итальянский, португальский, французский языки
      td от 1300 / (срочно) от 1700
      td от 2000 / (срочно) от 2600
    
    tr
      td Другие языки
      td от 1000 до 1800 / (срочно) от 1500 до 2300
      td от 1200 до 2500 / (срочно) от 1500 до 2800