.features-sm.section--underlined
  ul
    li.base-text Гарантия качества <br>и&nbsp;соблюдения сроков
    li.base-text Умеренные цены <br>и&nbsp;удобная форма оплаты
    li.base-text Переводим <br>на&nbsp;все языки мира
    li.base-text Конфиденциальность <br>информации