
@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@forward "@styles/_extends/effects.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.search-title {
  @extend %flex-align;
  background-color: var(--primary);
  border-radius: 30px;
  padding: 2px;
  position: relative;
  overflow: hidden;

  input {
    width: calc(100% - 48px);
    height: 40px;
    padding: 12px 24px;
    padding-right: 80px;
    border-radius: 30px;
    border: none;
    background-color: var(--site-bg-color);
    cursor: pointer;
    outline: none;
    z-index: 5;
  }

  &-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @extend %btn-reset;
    @extend %flex-center;
    width: 60px;
    height: 44px;
    border-radius: 20px;
    background-color: var(--primary);
    background-image: url("@img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

    @extend %hover-opacity;
  }
}