@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@forward "@styles/_extends/effects.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

:root {
  --base-card-info-item-gap: 10px;
}

.base-card {
  @extend %flex-column;
  gap: 20px;
  padding: clamp(24px, 2.4vw, 30px);
  border-radius: var(--main-border-radius);
  background-color: var(--white);
  box-shadow: var(--base-box-shadow);
  container: base-card / inline-size;

  &__header {
    @extend %flex-align;
    gap: 12px;

    a {
      @extend %primary-color-hover;
    }

    @include container-down('base-card', 375px) {
      & img {
        display: none;
      }
    }
  }

  &__list {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 24px;

    @include container-down('main', $mobile-width) {
      grid-template-columns: 1fr;
    }

    li {
      width: fit-content;
      margin-left: -10px;

      a {
        position: relative;
        @extend %flex-align;
        gap: 6px;
        font-size: 14px;
        padding: 5px 10px;
        font-style: italic;
        font-weight: 500;
        color: var(--primary);

        @extend %hover-opacity; 

        &::before {
          position: relative;
          left: 0;
          top: 0;
          content: '';
          width: 24px;
          min-width: 24px;
          height: 24px;
          background-image: url("@img/logo-small.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 10px;

    &-item {
      @extend %flex-column;
      gap: 5px;

      font-weight: 500;
      font-size: 15px;

      span {
        position: relative;
        padding-left: var(--base-card-info-item-gap);

        &::before {
          position: absolute;
          top: 7px;
          left: 0;
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--primary);
        }
      }

      a {
        padding-left: var(--base-card-info-item-gap);
        color: var(--primary);

        @extend %hover-opacity;
      }
    }
  }
}