
.linked-side-list
  span.base-subtitle Возможно Вас заинтересует:
  ul
    li
      a(href="#")
        span Перевод с немецкоо языка
    li
      a(href="#") 
        span Консульская легализация документов для ОАЭ