include ../../components/_ui/sliders/main-slider/main-slider

section.section.licenses 
  .container
    h2.base-title Лицензии и сертификаты

    +main-slider(
      [
        `<img src="./assets/img/review-img.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img2.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img2.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img2.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
        `<img src="./assets/img/review-img2.png" data-fancybox="reviews" alt="reviews" width="263" height="372">`,
      ]
    )

      