@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/offsets.scss";

/* purgecss start ignore */
:root {
  --accordeon-transition: .4s ease-out;
}

.accordeon {
  @extend %flex-column;
  gap:16px;
  @extend %main-inner-offset;

  &-item {
    @extend %flex-column;

    padding: 16px 20px;
    border-radius: 30px;
    border: 1px solid var(--primary);
    background-color: var(--secondary);

    svg {
      fill: var(--primary);
    }

    &.expanded {
      .accordeon-content {
        padding: 16px 0 0;
        visibility: visible;
        height: auto;
        opacity: 1;
      }

      .accordeon-header {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-header {
    @extend %flex-align;
    justify-content: space-between;
    gap: 32px;
    cursor: pointer;
    @extend %hover-opacity;

    span {
      font-weight: 700;
    }
    svg {
      min-width: 24px;
      transition: transform var(--accordeon-transition);
    }
  }

  &-content {
    @extend %flex-column;
    gap: 12px;
    font-size: 16px;
    overflow: hidden;

    padding: 0;
    height:0;
    opacity:0;
    visibility: hidden;

    transition:
      visibility var(--accordeon-transition), 
      padding var(--accordeon-transition), 
      opacity var(--accordeon-transition), 
      height var(--accordeon-transition);

    &.content-block {
      margin: 0;
      gap: 8px;
    }

    & > * {
      margin: 0;
    }
  }
}

/* purgecss end ignore */