@use "@pug/blocks/hero/hero";
@use "@pug/blocks/services-preview/services-preview";
@use "@pug/blocks/features/features";
// @use "@pug/blocks/about-preview/about-preview";
@use "@pug/blocks/price-preview/price-preview";
@use "@pug/blocks/catalog-top/catalog-top";
@use "@pug/blocks/sales-preview/sales-preview";
@use "@pug/blocks/faq-preview/faq-preview";
@use "@pug/blocks/clients-preview/clients-preview";


@use "@pug/components/_ui/nav/top-multilevel-menu/top-multilevel-menu";
@use "@pug/components/_ui/nav/bottom-menu/bottom-menu";
@use "@pug/blocks/callback/callback";
// @use "@pug/blocks/licenses/licenses";