

section.section.section--decorate.contacts-preview
  .container-fluid
    //- include ../../components/blocks/contact-block/contact-block
    include ../../components/_ui/yMaps/yMaps
    //- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae1ed9fb963d92b5ffd87357b63457ffcfdeb423f5cdea2c4b5c6c18061bdf7c2&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>


    