@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";

.main-slider {
  .swiper-slide {
    @extend %flex-center;
    width: 100%;
    max-width: 320px;
    height: auto;
    background-color: var(--secondary);
    padding: 30px;
    border-radius: 30px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .swiper-controls {
    @extend %flex-align;
    gap: 16px;
    justify-content: space-between;
    padding: clamp(25px, 3vw, 50px) 0 16px;
    margin: 5px;

    &:has(.swiper-button-lock) {
      display: none;
    }

    .swiper-pagination {
      position: static;
      transform: none !important;

      &-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--dark);
      }
    }

    .swiper-navigation {
      @extend %flex-align;
      gap: 16px;

      .swiper-button-lock {
        display: none;
      }

      .swiper-button-disabled {
        opacity: .5;
      }

      .swiper-button-prev,
      .swiper-button-next {
        @extend %btn-reset;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--primary);
        background-image: url("@/assets/img/icon-slider-arrow.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      .swiper-button-prev {
        transform: rotate(180deg);
      }
    }
  }
}
