include ../../cards/example-card/example-card

mixin main-slider(slides, isExampleCardView)
  .swiper.main-slider
    .swiper-wrapper
      each slide in slides
        .swiper-slide
          if isExampleCardView
            +example-card(slide)
          else
            != slide
    .swiper-controls
      .swiper-pagination
      .swiper-navigation
        button(aria-label="Предыдущий слайд").swiper-button-prev
        button(aria-label="Следующий слайд").swiper-button-next

