section.section.section--underlined.sales-preview
  .container
    h2.base-title Акции и предложения

    ul.sales-preview__list
      li
        a(href="#")
          img(src="./assets/img/sale-icon.svg" alt="sale" width="40" height="40px")
          span Скидка 20% на все услуги по медицинскому переводу!
      li
        a(href="#") 
          img(src="./assets/img/sale-icon.svg" alt="sale" width="40" height="40px")
          span Скидка 20% на все услуги по медицинскому переводу! Скидка 20% на все услуги по медицинскому переводу!
      
      li
        a(href="#")
          img(src="./assets/img/sale-icon.svg" alt="sale" width="40" height="40px")
          span Скидка 20% на все услуги 

    +main-btn({
      href: "#",
      text: 'Смотреть все акции',
    })
      