include ../../components/_ui/cards/base-card/base-card

section.section.section--underlined.sales-preview
  .container
    h2.base-title Акции и&nbsp;предложения

    ul.sales-preview__list
      li
        +base-card({
          icon: true,
          iconPath: './assets/img/sale-icon.svg',
          title: 'Скидка 20% на все услуги по медицинскому переводу!',
          text: 'Осуществляем письменные и устные переводы со всех распространённых языков мира. К Вашим услугам дипломированные переводчики и носители языка. Мы удостоверяем письменные переводы подписью переводчика и печатью нашего бюро или нотариально, в зависимости от требований, которые предъявляет к переводу принимающая сторона.'
        })
      
      li
        +base-card({
          icon: true,
          iconPath: './assets/img/sale-icon.svg',
          title: 'Скидка 20% на все услуги по медицинскому переводу!',
          text: 'Осуществляем письменные и устные переводы со всех распространённых языков мира.'
        })
      li
        +base-card({
          icon: true,
          iconPath: './assets/img/sale-icon.svg',
          title: 'Скидка 20% на все услуги по медицинскому переводу!',
        })

    +main-btn({
      href: "#",
      text: 'Смотреть все акции',
    })
      