include ../../../components/_ui/main-btn/main-btn
include ../../../components/_ui/sliders/main-slider/main-slider
section.section.inner-top-section
  .container
    .inner-top-section__header
      h1.base-title Процедура консульской легализации для ОАЭ
      span.base-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolor cupiditate, veniam saepe dignissimos modi consequuntur tenetur, recusandae omnis necessitatibus iure quibusdam placeat. Totam quis debitis tempora velit commodi! Dicta.

    .inner-top-section__wrapper
      .inner-top-section__aside
        .sidebar
          include ../../../components/blocks/sidemenu/template
          include ../../../components/_ui/lists/linked-side-list/template

      .inner-top-section__content
        .content-block
          h2 title h2
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
          
          h3 Примеры
          +main-slider([
            {
              img: 'review-img.png',
              text: 'Пример консульской легализации для ОАЭ'
            },
            {
              img: 'review-img2.png',
              text: 'Пример консульской легализации для ОАЭ'
            },
            {
              img: 'review-img.png',
              text: 'Пример консульской легализации для ОАЭ'
            },
            {
              img: 'review-img2.png',
              text: 'Пример консульской легализации для ОАЭ'
            }
          ], true)

          //- .image-row-wrapper
            span.image-row-title.base-subtitle Примеры консульской легализации в тексте блога
            .image-row
              figure
                img(src="./assets/img/review-img.png" data-fancybox="collection-1" alt="reviews" width="263" height="372")
                figcaption Пример консульской легализации
              figure
                img(src="./assets/img/review-img.png" data-fancybox="collection-1" alt="reviews" width="263" height="372")
                figcaption Пример консульской легализации
          a(href="#") Подробнее  
          
          h3 title h3
          p Lorem ipsum <strong>dolor sit, amet</strong> consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati <a href="#">aspernatur quis iure iste ut soluta</a>, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
          
          a(href="#") Lorem ipsum dolor sit

          <table>
            <thead>
              <tr>
                <td>Язык перевода</td>
                <td colspan="2">Стоимость перевода, ₽</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Английский, немецкий языки </td>
                <td>от 1000 / (срочно) от 1500</td>
                <td>от 1500 / (срочно) от 1900</td>
              </tr>
              <tr>
                <td>Испанский, итальянский, португальский, французский языки</td>
                <td>от 1300 / (срочно) от 1700</td>
                <td>от 2000 / (срочно) от 2600</td>
              </tr>
              <tr>
                <td>Другие языки</td>
                <td>от 1000 до 1800 / (срочно) от 1500 до 2300</td>
                <td>от 1200 до 2500 / (срочно) от 1500 до 2800</td>
              </tr>
            </tbody>
          </table>

          h4 title h4
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
