noindex
  .mobile-menu-overlay
    .mobile-menu
      .mobile-menu__header
        +main-logo({
          description: true,
          colored: true
        })
        include ../../components/_ui/burger/burger
        +burger('mobile-menu-closer')

      ul
        li.has-inner
          a(href="#") 
            span Апостиль
            button(type="button" aria-labal="Открыть подменю").mobile-menu__inner-opener-btn 
              svg(width='24' height='24' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-chevron-down')

          ul
            li
              a(href="#") 
                span Апостиль документов из ЗАГС
        
        li
          a(href="#")
            span Консульская легализация
        
        li.has-inner
          a(href="#") 
            span Переводы
            div(role="button" aria-labal="Открыть подменю").mobile-menu__inner-opener-btn 
              svg(width='24' height='24' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-chevron-down')
          ul
            li.has-inner
              a(href="#") 
                span Перевод с различных языков мира
                button(type="button" aria-labal="Открыть подменю").mobile-menu__inner-opener-btn 
                  svg(width='24' height='24' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-chevron-down')
              ul
                li
                  a(href="#") 
                    span Перевод с английского
                li
                  a(href="#") 
                    span Перевод с китайского

      
      .mobile-menu__contacts
        a(href="tel:88007777777") 8 (800) 777-77-77
        a(href="mailto:test@mail.ru") info@buroimpression.ru

      include ../../components/_ui/social/social
