@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@forward "@styles/_extends/effects.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

$calc-form-max-width: 1024px;

.calc-form {
	background-color: var(--white);
	border-radius: 30px;
	width: 100%;
	max-width: $calc-form-max-width;
	container: calc-form/ inline-size;

	& small {
		font-size: 12px;
	}

	&__total-price {
		font-size: clamp(18px, 3.2vw, 22px);
		font-weight: 700;
		span {
			color: var(--primary);
		}
	}

	& form {
		@extend %flex-column;
		gap: 16px;
		padding: clamp(24px, 2.4vw, 32px) clamp(16px, 2vw, 24px);

		& > fieldset {
			margin-bottom: 12px;
		}

		& .base-title {
			line-height: 1.2;
			margin-bottom: 12px;
			font-size: clamp(24px, 3.4vw, 48px);
		}

		.main-input-wrapper {
			flex-grow: 1;
			max-width: calc(25% - 8px);
			min-width: 220px;

			.main-btn {
				width: 100%;
			}

			@include container-down("calc-form", $mobile-width) {
				max-width: 376px;
			}
		}
	}

	&__section {
		@extend %fieldset-reset;
		@extend %flex-align;
		align-items: center;
		gap: 16px 8px;

		&--wrap {
			flex-wrap: wrap;
		}

		&--input-group {
			gap: 3px;

			.main-input-wrapper input {
				border-radius: 0;
			}

			.main-input-wrapper:first-child input {
				border-radius: 30px 0 0 30px;
			}

			.main-input-wrapper:last-child input {
				border-radius: 0 30px 30px 0;
			}
		}

		&-title {
			width: 100%;
		}

		&--column {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// &__top {
	// 	@extend %flex-align;
	// 	gap: 32px;
	// 	margin-bottom: 12px;

	// 	@include container-down("calc-form", $calc-form-max-width - 1) {
	// 		align-items: flex-start;
	// 		gap: 12px;
	// 	}

	// 	@include container-down("calc-form", $mobile-width) {
	// 		flex-direction: column;
	// 	}

	// 	& fieldset {
	// 		align-items: center;
	// 		gap: 0;

	// 		& > span {
	// 			background-color: var(--secondary);
	// 			padding: 12px 20px;
	// 			padding-right: 44px;
	// 			border-radius: 30px;
	// 			min-width: 220px;
	// 		}

	// 		.custom-select-opener {
	// 			margin-left: -32px;
	// 			border: 2px solid var(--site-bg-color);
	// 		}

	// 		.custom-select-panel {
	// 			left: -32px;
	// 		}

	// 		&:first-child {
	// 			position: relative;

	// 			&::after {
	// 				@extend %flex-center;
	// 				position: relative;

	// 				content: "";
	// 				background-image: url("@img/switch-icon.svg");
	// 				width: 40px;
	// 				height: 40px;
	// 				background-repeat: no-repeat;
	// 				background-color: var(--secondary);
	// 				background-position: center;
	// 				background-size: 24px;
	// 				border-radius: 50%;
	// 			}
	// 		}

	// 		@include container-down("calc-form", $calc-form-max-width - 1) {
	// 			flex-direction: column;
	// 			align-items: flex-start;
	// 			gap: 6px;

	// 			& > span {
	// 				background-color: transparent;
	// 				padding: 0;
	// 				min-width: 140px;
	// 			}
	// 			.custom-select-opener {
	// 				margin-left: 0;
	// 				border: none;
	// 			}
	// 			.custom-select-panel {
	// 				left: 0;
	// 			}

	// 			&:first-child {
	// 				padding-right: 44px;

	// 				&::after {
	// 					position: absolute;
	// 					bottom: 0;
	// 					right: 0;
	// 					width: 32px;
	// 					height: 44px;
	// 					background-size: 20px;
	// 					background-color: transparent;
	// 				}
	// 			}
	// 		}

	// 		@include container-down("calc-form", $mobile-width) {
	// 			flex-direction: row;
	// 			align-items: center;
	// 			gap: 8px 16px;

	// 			&:first-child {
	// 				padding-right: 0;

	// 				&::after {
	// 					display: none;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
