@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

$list-offset: 16px;

.top-multilevel-menu {
  // position: relative;

  &:hover {
    .top-multilevel-menu__list {
      // display: flex;

      // animation: showMenu 0.5s ease-in forwards;
    }
  }

  // @keyframes showMenu {
  //   from {
  //     opacity: 0;
  //   }

  //   to {
  //     opacity: 1;
  //   }
  // }

  &__wrapper {
    position: relative;
    padding: 56px 24px;
    background-color: transparent;
    position: absolute;
    top: calc(100% - 55px);
    left: -24px;
    visibility: hidden;
    width: calc(100% + 48px);
    z-index: 3;
  }

  * {
    // outline: 1px solid red; 
  }

  &__opener {
    position: relative;
    @extend %flex-align;
    gap: 6px;
    background-color: var(--primary);
    height: 44px;
    padding: 10px 54px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    z-index: 4;

    @extend %hover-opacity;

    span {
      font-weight: 500;
      font-size: 16px;
      color: var(--secondary);
    }

    &::before {
      position: absolute;
      top: calc(50%);
      left: 16px;
      transform: translateY(calc(-50% - 3px));
      width: 24px;
      height: 2px;
      content: '';
      background-color: var(--secondary);
    }

    &::after {
      position: absolute;
      top: calc(50%);
      left: 16px;
      transform: translateY(calc(-50% + 3px));
      width: 18px;
      height: 2px;
      content: '';
      background-color: var(--secondary);
    }
  }

  ul {
    @extend %list-reset;
    @extend %flex-column;
    width: 100%;
  }

  & &__list {
    position: relative;
    @extend %flex-column;
    min-width: 400px;
    padding: 8px 0;
    background-color: var(--primary);
    border-radius: 20px;
    z-index: 1;
    box-shadow: var(--base-box-shadow);
    overflow: hidden;
    overflow-y: auto;
    height: 60vh;
    height: 60dvh;
    max-height: fit-content;
    scrollbar-gutter: stable;

    a {
      @extend %flex-align;
      justify-content: space-between;
      gap: 6px;
      padding: 6px $list-offset;
      min-height: 40px;
      color: var(--white);

      span {
        color: var(--white);
      }

      @extend %hover-opacity;
    }

    & ul {
      position: relative;
      padding: 0;

      [data-level='2'],
      [data-level='3'],
      [data-level='4'] {
        padding-left: $list-offset;
      }

      span {
        position: relative;
        padding-left: $list-offset;

        &::before {
          position: absolute;
          top: 8px;
          left: 0px;
          background-color: var(--white);
          content: '';
          width: 8px;
          height: 2px;
        }
      }
    }
  }

  .has-inner {
    
    & > ul {
      display: none;
    }

    &.expanded  {
      & > a > .top-multilevel-menu__expander {
        transform: rotate(135deg);
      }

      & > ul {
        display: flex;
      }
    }
  }

  &__expander {
    position: relative;
    width: 16px;
    height: 16px;
    @extend %flex-center;

    transform: rotate(180deg);
    transition: transform var(--main-transition);
    border: 2px solid var(--secondary);
    box-shadow: rgb(245, 245, 245) 0px 0px 3px;

    &::after,
    &::before {
      position: absolute;
      content: '';
      background-color: var(--white);
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 10px;
      height: 2px;
      left: 50%;
      top: 50%;
    }

    &::after {
      height: 10px;
      width: 2px;
      top: 50%;
      left: 50%;
    }
  }
}