nav.top-multilevel-menu
  a(href="#").top-multilevel-menu__opener
    span.base-text Все услуги
  .top-multilevel-menu__wrapper  
    ul.top-multilevel-menu__list
      li.has-inner(data-level="1")
        a(href="#")
          span.base-text Перевод
          .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
        ul
          li.has-inner(data-level="2")
            a(href="#")
              span.base-text Юридический
              .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
            ul
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Документов компании
          li.has-inner(data-level="2")
            a(href="#")
              span.base-text Устный
              .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
            ul
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Синхронный
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Последовательный
          li.has-inner(data-level="2")
            a(href="#")
              span.base-text Личных документов
              .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
            ul
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Паспорта
                  .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
                ul
                  li(data-level="4")
                    a(href="#")
                      span.base-text Перевод паспорта с английского языка
                  li(data-level="4")
                    a(href="#")
                      span.base-text Перевод паспорта с немецкого языка
                  li(data-level="4")
                    a(href="#")
                      span.base-text Перевод паспорта с французского языка
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Свидетельства о рождении
              li.has-inner(data-level="3")
                a(href="#")
                  span.base-text Свидетельства о расторжении брака
          li.has-inner(data-level="2")
            a(href="#")
              span.base-text С различных языков мира
              .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
            ul
              li(data-level="4")
                a(href="#")
                  span.base-text C английского языка
              li(data-level="4")
                a(href="#")
                  span.base-text C немецкого языка
              li(data-level="4")
                a(href="#")
                  span.base-text C французского языка
      li
        a(href="#")
          span.base-text Консульская легализация
          .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
      li
        a(href="#")
          span.base-text Апостиль
          .top-multilevel-menu__expander(role="button" aria-label="Развернуть пункт меню")
      li
        a(href="#")
          span.base-text Истребование документов
    
