section.hero
  .container
    .hero__wrapper
      .hero__content
        span.base-text Многопрофильное
        h1.main-title Бюро переводов в&nbsp;Москве
        p.base-text Мы&nbsp;переводим на&nbsp;все языки мира и&nbsp;оказываем все&nbsp;возможные услуги в&nbsp;сфере языковых переводов и&nbsp;легализации документов

      include ../../components/_ui/social/social