script(src="https://api-maps.yandex.ru/2.1/?apikey=919ce949-0832-41f4-99a8-f4151b2f14ef&lang=ru_RU")

//- desktopViewCenter: '55.7476144400693,37.6544846239627',
//- mobileViewCenter: '55.75049225880714,37.66043457984441',
#y-maps(
  data-options={
    desktopViewCenter: '55.75060444006543,37.61944846239627',
    mobileViewCenter: '55.75049225880714,37.66043457984441',
    zoom: 13,
    maxZoom: 18,
    placemarks: [
      {
        iconPath: './assets/img/map-pin-yellow.svg',
        placemarkCoords: '55.73975206899516,37.656819499999955',
        placemarkContent: ''
      },
      {
        iconPath: './assets/img/map-pin-violet.svg',
        placemarkCoords: '55.75701906897993,37.63815249999991',
        placemarkContent: ''
      },
    ]
  }
)
