script(src="https://api-maps.yandex.ru/2.1/?apikey=919ce949-0832-41f4-99a8-f4151b2f14ef&lang=ru_RU")

#y-maps(
  data-options={
    coords: '55.7486144400693,37.6534946239627',
    zoom: 13,
    maxZoom: 18,
    placemarks: [
      {
        iconPath: './assets/img/map-pin-yellow.svg',
        placemarkCoords: '55.73975206899516,37.656819499999955',
        placemarkContent: "Бюро переводов на Марксистской",
        balloonContent: `
          <div class="map-contact">
            <div class="map-contact-header">
              <span class="map-contact-header-title">Бюро переводов на Марксистской</span>
              <button class="balloon-closer" aria-label="Закрыть"></button>
            </div>

            <div class="map-contact-content">
              <div class="map-contact-content-top">
                <img src="./assets/img/contact1.png" width="400" height="300"/>

                <div class="contact-card">
                  <div class="contact-card-field">
                    <strong>Адрес:</strong>
                    <address>г. Москва, ул. Марксистская, дом 10, строение 1, 3 этаж, оф. 306</address>
                  </div>

                  <div class="contact-card-field">
                    <strong>Телефон:</strong>
                    <a href="tel:+74959285366">+7 (495) 928-53-66</a>
                  </div>
              
                  <div class="contact-card-field">
                    <strong>Whatsapp:</strong>
                    <a href="https://wa.me/+79859285366" rel="noopener nofollow noreferrer" target="_blank">+7 (985) 928-53-66</a>
                  </div>
                      
                  <div class="contact-card-field">
                    <strong>Email:</strong>
                    <a href="mailto:info@buroimpression.ru">info@buroimpression.ru</a>
                  </div>
                </div>
              </div>

              <div class="map-contact-content-bottom">
                <p>Единственный выход из ст. Марксистская, из стеклянных дверей – прямо. Выходите на улицу и идете прямо около 60 метров. Желто-белый 4 этажный исторический особняк, через калитку входите на территорию, заходите в здание (подъезд находится по правую руку), проходите прямо до лестницы и поднимаетесь на 3-й этаж.</p>
                <p>На третьем этаже проходите по коридору прямо до конца и, повернув налево, оказываетесь перед нашим офисом № 306.</p>
                <p>Если заблудитесь, не стесняйтесь – звоните, мы с радостью Вам подскажем!</p>
              </div>
            </div>
          </div>`
      },
      {
        iconPath: './assets/img/map-pin-violet.svg',
        placemarkCoords: '55.75701906897993,37.63815249999991',
        placemarkContent: "Бюро переводов на Китай-городе",

        balloonContent: `
          <div class="map-contact">
            <div class="map-contact-header">
              <span class="map-contact-header-title">Бюро переводов на Китай-городе</span>
              <button class="balloon-closer" aria-label="Закрыть"></button>
            </div>

            <div class="map-contact-content">
              <div class="map-contact-content-top">
                <img src="./assets/img/contact2.png" width="400" height="300"/>
                <div class="contact-card">
                  <div class="contact-card-field">
                    <strong>Адрес:</strong>
                    <address>г. Москва, Петроверигский переулок, дом № 3, строение 1, в помещении нотариальной конторы Радченко И.В.</address>
                  </div>

                  <div class="contact-card-field">
                    <strong>Телефон:</strong>
                    <a href="tel:+74997072130">+7 (499) 707-21-30</a>
                    <a href="tel:+79197274334">+7 (919) 727-43-34</a>
                  </div>
                      
                  <div class="contact-card-field">
                    <strong>Email:</strong>
                    <a href="mailto:zakaz@cldoc.ru">zakaz@cldoc.ru</a>
                  </div>
                </div>
              </div>

              <div class="map-contact-content-bottom">
                <p>Метро «Китай-город» (Таганско-Краснопресненская линия). Выход в сторону улицы Маросейка, из стеклянных дверей метро направо, пройти по переходу до конца, выход налево.</p>
                <p>Выйдя из метро, поверните направо и далее пройдите по улице Маросейка до пересечения с Петроверигским переулком.</p>
              </div>
            </div>
          </div>`
      },
    ]
  }
)
