include ../../components/_ui/main-btn/main-btn

section.base-section.base-section--underlined.about-preview
  .container
    h2.base-title О нас
    
    .content-block
      p Добро пожаловать в бюро переводов "Импрешн" – надежный партнер для физических и юридических лиц более 15 лет. Наше бюро зарекомендовало себя как компания, предоставляющая услуги высочайшего качества, сотрудничая с ведущими нотариусами Москвы и Подмосковья. Мы гордимся тем, что наш подход к каждому клиенту основан на принципах высокого сервиса и неукоснительного соблюдения стандартов качества.
      p В нашем арсенале – широкий спектр услуг, охватывающий переводы текстов любой сложности и тематики. Помимо профессиональных переводов, мы предлагаем полный комплекс услуг, включая консульскую легализацию документов, нотариальное заверение переводов, а также оформление апостиля – официального подтверждения документа для стран, подписавших Гаагскую конвенцию.
      p Наша команда – это высококвалифицированные специалисты с профильным образованием, которые гарантируют точность перевода. Мы строго соблюдаем установленные сроки выполнения заказов, понимая важность каждой минуты. Кроме того, наша ценовая политика ориентирована на доступность, что делает профессиональные переводческие услуги бюро переводов "Импрешн" выгодным вложением в успех Вашего бизнеса или личных инициатив. Заказать перевод Вы можете как в наших офисах, так и онлайн.
      p Выбирая наше бюро переводов с нотариальным заверением, Вы останетесь довольны качеством сервиса и услуг.

    +main-btn({
      href: "#",
      text: 'Подробнее',
      cls: 'main-btn--outlined'
    })

      