@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.footer {
  position: relative;
  padding: 180px 0 40px;
  background-image: url('@img/map-bg.svg');
  background-size: cover;
  color: var(--white);

  container: footer / inline-size;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: '';
    background-image: url("@img/section-overlay.svg");
    background-size: cover;
    background-position: center;
    z-index: 2;
  }

  &__container {
    @extend %flex-column;
    gap: clamp(24px, 4vw, 32px);
  }

  &__top {
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: var(--main-offset);

    @include container-down('footer', $tablet-width) {
      grid-template-columns: 1fr;
    }

    &-section {
      @extend %flex-column;
      gap: 24px;
    }
  }

  &__bottom {
    @extend %flex-wrap;
    align-items: flex-end;
    gap: var(--main-offset);
    justify-content: space-between;
  }

  .law-info,
  .company-rights {
    font-size: 12px;
    line-height: 1.6;
  }

  .developer {
    @extend %hover-opacity;

    span {
      font-size: 14px;
      color: var(--white);
    }

    img {
      width: 150px;
      height: auto;
      object-fit: contain;
    }
  }
  
  .social {
    &__list-item a {
      background-color: rgba(254, 244, 235, .2);
    }
  }
}