.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="/") 
          span Главная
      li.breadcrumbs__list-item
        a(href="/") 
          span Услуги
      li.breadcrumbs__list-item
        span ОАЭ