section.section.section--underlined.price-preview
  .container
    h2.base-title Стоимость перевода с основных языков

    include ../../components/_ui/tables/table

    +main-btn({
      href: "#",
      text: 'Смотреть все цены',
    })
      