section.section.section--underlined.price-preview
  .container
    h2.base-title Стоимость наших услуг

    p блок со стоимостью

    +main-btn({
      href: "#",
      text: 'Все цены',
    })
      