@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.collapsed-link {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 52px;
	overflow: hidden;
	border-radius: 30px;
	will-change: width, transform;

	span {
		@extend %flex-align;
		height: 52px;
		width: fit-content;

		border: 3px solid var(--light);
		border-radius: 30px;
		padding: 12px 24px;
		padding-right: 60px;
		white-space: nowrap;
		font-size: 14px;
		line-height: 1;
		font-weight: 500;
		background-color: var(--secondary);
		color: var(--primary);
	}

	&::after {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		width: 52px;
		height: 52px;
		content: "";
		background-color: var(--secondary);
		background-image: url("@img/icon-arrow.svg");
		background-position: center;
		background-size: 18px;
		background-repeat: no-repeat;
		border: 3px solid var(--light);
		border-radius: 50%;
	}
}
