include ./main-head

doctype html

block variables

html(lang="ru")
 +main-head(title, description)

include ../blocks/header/header
include ../blocks/mobile-menu/template
main
  block content

include ../blocks/footer/footer

block modals
  //- include ../components/_ui/modals/consult-modal
//- script(async="true" src="https://api-maps.yandex.ru/2.1/?apikey=919ce949-0832-41f4-99a8-f4151b2f14ef&lang=ru_RU")
//- script(src="https://api-maps.yandex.ru/v3/?apikey=919ce949-0832-41f4-99a8-f4151b2f14ef&lang=ru_RU")
