.social
  ul.social__list
    li.social__list-item
      a(href="https://vk.com/buroimpression" rel="noopener nofollow noreferrer" aria-label="Вконтакте")
        img(src="./assets/img/icon-tg.png" alt="tg" width="24" hwight="24")
    li.social__list-item
      a(href="https://www.facebook.com/buroimpression" rel="noopener nofollow noreferrer" aria-label="vk")
        img(src="./assets/img/icon-vk.png" alt="vk" width="24" hwight="24")
    li.social__list-item
      a(href="https://twitter.com/tb_impression" rel="noopener nofollow noreferrer" aria-label="whatsapp")
        img(src="./assets/img/icon-whatsapp.png" alt="whatsapp" width="24" hwight="24")
