include ../../components/_ui/main-btn/main-btn

section.section
  .container
    .inner-section
      .inner-section__head
        h1.base-title Процедура консульской легализации для ОАЭ
        span.base-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolor cupiditate, veniam saepe dignissimos modi consequuntur tenetur, recusandae omnis necessitatibus iure quibusdam placeat. Totam quis debitis tempora velit commodi! Dicta.

      
      .inner-section__grid
        .inner-section__side
          .sidebar
            include ../../components/blocks/sidemenu/template
            include ../../components/_ui/lists/linked-side-list/template

        .inner-section__main
          .content-block
            h2 title h2
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
            .image-row-wrapper
              span.image-row-title.base-subtitle Примеры консульской легализации в тексте блога
              .image-row
                figure
                  img(src="./assets/img/review-img.png" data-fancybox="collection-1" alt="reviews" width="263" height="372")
                  figcaption Пример консульской легализации
                figure
                  img(src="./assets/img/review-img.png" data-fancybox="collection-1" alt="reviews" width="263" height="372")
                  figcaption Пример консульской легализации
            a(href="#") Подробнее 
            
            h3 title h3
            p Lorem ipsum <strong>dolor sit, amet</strong> consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati <a href="#">aspernatur quis iure iste ut soluta</a>, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.
            
            a(href="#") Lorem ipsum dolor sit

            <table>
              <thead>
                <tr>
                  <td>Язык перевода</td>
                  <td align="center" colspan="2">Стоимость перевода, ₽</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Английский, немецкий языки </td>
                  <td>от 1000 / (срочно) от 1500</td>
                  <td>от 1500 / (срочно) от 1900</td>
                </tr>
                <tr>
                  <td>Испанский, итальянский, португальский, французский языки</td>
                  <td>от 1300 / (срочно) от 1700</td>
                  <td>от 2000 / (срочно) от 2600</td>
                </tr>
                <tr>
                  <td>Другие языки</td>
                  <td>от 1000 до 1800 / (срочно) от 1500 до 2300</td>
                  <td>от 1200 до 2500 / (срочно) от 1500 до 2800</td>
                </tr>
              </tbody>
            </table>

            h4 title h4
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aspernatur quis iure iste ut soluta, quos minus veniam! Culpa, rerum totam. Similique obcaecati dignissimos, at quos architecto eos veritatis.

            

//- section.section.blog-detail
//-   .container
//-     .inner-section
//-       .inner-section__head
//-         h1.base-title Консульская легализация для ОАЭ
//-         p.base-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum porro voluptatum minus at perferendis quo aliquam, autem voluptate qui molestiae! Culpa tenetur id ipsum tempore qui ab, corporis quaerat aliquid!

//-         .content-block
//-           



      