include ../../components/_ui/accordeon/accordeon
include ../../components/_ui/main-btn/main-btn

section.section.examples-preview
  .container
    h2.base-title Вопросы и ответы
    .faq-preview__grid
      .faq-preview__grid-item
        p.base-text Вы всегда можете задать нам&nbsp;интересующие Вас вопросы с&nbsp;помощью формы сайта или&nbsp;обратившись лично, любым удобным для&nbsp;Вас&nbsp;способом из&nbsp;раздела <a href="/contacts">контакты</a>.
        p.base-text Самые актуальные собрали в&nbsp;данном разделе.
        
        +main-btn({
          href: "#",
          text: 'Задать вопрос',
        })
      .faq-preview__grid-item 
        +accordeon([
          {
            cls: 'expanded',
            text: 'Обязательно ли мне приходить за готовым переводом лично?',
            content: 'Ответ на вопрос'
          },
          {
            text: 'Какова продолжительность выполнения перевода для одной страницы текста?',
            content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iusto dicta odio qui pariatur autem iure? Quisquam placeat in, eum excepturi sint molestiae. Nemo accusamus consequatur quae. Reprehenderit, quod ratione.'
          },
          {
            text: 'Возможно ли сотрудничество с вашим бюро переводов дистанционно?',
            content: 'Ответ на вопрос'
          },
        ])


      