extends ./pug/layouts/main-layout

block variables
  -
    const title = "impress"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/index']

block content
  include ./pug/components/blocks/breadcrumbs/breadcrumbs
  include ./pug/blocks/blog/blog-main/template

  //- include ./pug/blocks/examples-slider/examples-slider
  //- include ./pug/blocks/price-preview/price-preview
  //- include ./pug/blocks/info-grid-section/template
  //- include ./pug/blocks/faq-preview/faq-preview
  //- include ./pug/blocks/contacts-preview/contacts-preview
  //- include ./pug/blocks/reviews/reviews