extends ./pug/layouts/main-layout

block variables
  -
    const title = "impress"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/index']

block content
  include ./pug/blocks/hero/hero
  include ./pug/blocks/features/features
  include ./pug/blocks/services-preview/services-preview
 
  include ./pug/blocks/price-preview/price-preview  
  include ./pug/blocks/catalog-top/catalog-top
  include ./pug/blocks/calc/calc
  include ./pug/blocks/sales-preview/sales-preview
  include ./pug/blocks/about-preview/about-preview
  include ./pug/blocks/licenses/licenses
  include ./pug/blocks/clients-preview/clients-preview
  include ./pug/blocks/reviews/reviews
  include ./pug/blocks/contacts-preview/contacts-preview
  include ./pug/blocks/faq-preview/faq-preview