doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title sales-preview
    link(rel="stylesheet" href="./sales_preview-tpl.scss")
  body 
    main
      include ../../pug/blocks/sales-preview/sales-preview
