@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/common.scss";
@use "@styles/_mixins/text-truncate" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.linked-list {
	@extend %list-reset;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px 0;
	margin: 40px 0;

	container: linked-list / inline-size;

	@include container-down("main", 1240px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include container-down("main", 920px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include container-down("main", 634px) {
		grid-template-columns: 1fr;
	}

	li {
		a {
			@extend %linked-link;
		}
	}
}
