@forward "@styles/_extends/common.scss";

.services-preview {
  background-image: url("@img/services-preview-bg.svg"); 
  background-size: cover;
  background-position: top;

  &__list {
    @extend %column-list;
  }
}