include ../../../components/_ui/main-btn/main-btn
include ../../../components/_ui/cards/base-card/base-card

section.section.inner-top-section.section--paper-bg.section--decorated
  .container
    .inner-top-section
      .inner-top-section__header
        h1.base-title Консульская легализация документов компании
        span.base-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolor cupiditate, veniam saepe dignissimos modi consequuntur tenetur, recusandae omnis necessitatibus iure quibusdam placeat. Totam quis debitis tempora velit commodi! Dicta.
        small.accent-text.accent-text--lg от 12 400 руб
        +main-btn({
          text: 'Заказать услугу'
        })

        include ../../../components/blocks/features-sm/template
      
      .inner-top-section__wrapper
        .inner-top-section__aside
          .sidebar
            include ../../../components/blocks/sidemenu/template
            include ../../../components/_ui/lists/linked-side-list/template

        .inner-top-section__content
          ul.services-preview__list
            li
              +base-card({
                icon: false,
                title: 'Переводы',
                list: [
                  { title: 'Юридический' },
                  { title: 'Технический' },
                  { title: 'Медицинский' },
                  { title: 'Перевод сайта' },
                  { title: 'Синхронный перевод' },
                  { title: 'Последовательный перевод' },
                  { title: 'Личных документов' },
                ],
                text: 'Осуществляем письменные и устные переводы со всех распространённых языков мира. К Вашим услугам дипломированные переводчики и носители языка. Мы удостоверяем письменные переводы подписью переводчика и печатью нашего бюро или нотариально, в зависимости от требований, которые предъявляет к переводу принимающая сторона.'
              })
            
            li
              +base-card({
                icon: true,
                title: 'Нотариальные услуги',
                text: 'Офисы нашего бюро переводов в Москве находятся при нотариальных конторах. Вы можете оперативно получить в одном месте различные нотариальные услуги и сделать нотариальный перевод с любых языков.',
                info: [
                  {
                    title: 'Нотариус на Марксистской',
                    link: '8 (495) 532-59-55'
                  },
                  {
                    title: 'Нотариус на Китай-городе',
                    link: '8 (495) 623-62-84'
                  }
                ]
              })
            
            li
              +base-card({
                icon: true,
                title: 'Апостиль и Консульская легализация',
                list: [
                  { title: 'Диплома' },
                  { title: 'Паспорта' },
                  { title: 'Документов компании' },
                  { title: 'Справки о судимости' },
                  { title: 'Документов из ЗАГСа' }
                ],
                text: 'Подготовим Ваши документы для использования на территории других государств путем проставления штампа Апостиль или полной консульской Легализации. Легализуем личные и коммерческие бумаги, также предоставляем услугу по проставлению отметки ТПП. Наше бюро имеет огромный опыт в легализации документов различной сложности. Ищете качественную услугу по доступной цене – доверьте работу по легализации специалистам бюро переводов «Импрешн».'
              })
            
            li
              +base-card({
                icon: true,
                title: 'Апостиль и Консульская легализация',
                list: [
                  { title: 'Легализация для Италии («Dichiarazione di valore»)' },
                  { title: 'Легализация для Италии («Dichiarazione di valore»)' }
                ],
                text: 'Если Вы решили учиться или работать за рубежом, мы поможем подтвердить Ваши образовательные документы. Бюро переводов «Импрешн» оказывает услугу по проставлению штампа Апостиль на оригинал диплома или аттестата или при необходимости осуществить их полную консульскую легализацию, а в случае с Италией и Испанией мы поможем Вам пройти особую процедуру подтверждения – «Dichiarazione di valore»(для Италии) и «Homologacion de Titulo»(для Испании). Для признания диптомов иностранных государств в РФ необходимо выполнить их нострификацию.'
              })

            li
              +base-card({
                icon: true,
                title: 'Получение справки об отсутствии судимости',
                text: 'Одна из наших самых востребованных услуг в нашем бюро переводов– получение справки об отсутствии судимости. От Вас понадобится только доверенность и копия паспорта, остальное мы сделаем сами. При необходимости апостилируем или легализуем справку для страны назначения и вышлем готовый документ курьерской службой. Если Вы являетесь гражданином другого государства, но проживали на территории РФ и хотите получить справку об отсутствии судимости, мы также сможем Вам помочь.'
              })
            
            li
              +base-card({
                icon: true,
                title: 'Истребование документов',
                text: 'Если Ваш документ утерян или пришел в негодность, мы получим его дубликат, в том числе без личного присутствия в нашем офисе. Истребуем дубликаты из органов ЗАГС, образовательных бумаг и многих других, как в Москве, так и в любых городах России, Украины и Беларуссии. После получения истребованных бумаг компания «Импрешн» может предоставить услугу по их апостилированию и легализации, а также пересылку по указанному адресу.'
              })




      